language: php

php:
  - 7.1
  - 7.2

env:
  - COMPOSER_FLAGS="--prefer-lowest"
  - COMPOSER_FLAGS=""

install:
  - nvm install stable
  - nvm use stable
  - npm install
  - travis_retry composer self-update
  - travis_retry composer update ${COMPOSER_FLAGS} --no-interaction --prefer-source
