includes:
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
  - phpstan-baseline.neon

parameters:
  paths: [src, tests]
  level: 8
